.App {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.movieListShow {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(4, 1fr);
}

.movieCard {
    max-height: 30vh;
    max-width: 30vw;
    border-color: black;
    border-radius: 10%;
    border-style: solid;
    padding: 10px 10px 10px 10px;
    margin: 10px 10px 10px 10px;
}

.imageDisplay {
    height: 30vh;
    width: 30vw;
    background-image: url(../../assets/placeholder.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    height: 10vh;
    width: 10vw;
}